.Exploree{
    width:80%;
    margin: auto;
}
.circle{
    border-radius: 999px;
   max-width:100%;
    border: 2px solid orange;
    cursor: pointer;
   
}
#circle{
    overflow-x: scroll;
    /* margin: 20px 0; */
    gap: 20px;
   
}
#exp{
    width:7.5vw;
    min-width: 60px;
}

#circle::-webkit-scrollbar{
    display:none;
}
@media screen  and (max-width:480px){
    p{
        /* font-size:10px; */
    }
}
