.body{
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    background-color: #00000090;
    display:grid;
}
.Form{
    place-self: center;
    width:max(23vw);
    display:flex;
    background-color: white;
    padding: 25px 30px;
    font-size: 14px;
    color: black;
    gap:25px;
    animation: fadeIn 0.5s;
    flex-direction: column;
}